
*{
margin: 3px;

}

.user{

  font-size: 15px;
  display: flex;
  position: relative;
  border: 1px solid silver;
  width: 850px;
}

.post{
  display: flex;
  font-size: 15px;
  position: relative;
  margin-left: 900px;
  bottom: 310px;
  border: 1px solid silver;
}

.comment{
  display: flex;
  position: relative;
  bottom: 3200px;
  width: 850px;
  border: 1px solid silver;
  font-size: 15px;

}